{% comment %}
/ JBQA
{% if settings.enable_shopify_payments_currencies %}
<div class="currency-block">
  <label class="label-text"{% if settings.enable_multilang %} data-translate="general.currency.currency"{% endif %}>
    {{ 'general.currency.currency' | t }}
  </label>

  <div class="btn-group currency-dropdown">
    <label class="dropdown-toggle dropdown-label" data-currency-label>
      <span class="img-icon">
        {% if cart.currency.iso_code == 'XAF' or cart.currency.iso_code == 'XOF' or cart.currency.iso_code == 'XPF' %}
        <img src="https://cdn.shopifycloud.com/web/assets/4714259873a1c6de6957c5a3c61bf7b4.svg" alt="{{ cart.currency.iso_code }}" />
        {% else %}
        <img src="https://www.countryflags.io/{{cart.currency.iso_code | handleize | slice: 0, 2}}/flat/64.png" alt="{{ cart.currency.iso_code }}" />
        {% endif %}
      </span>
      <span class="text">
        {{ cart.currency.iso_code }}
      </span>      
    </label>
    <div class="dropdown-menu currency-menu" id="currencies">
      {%- for currency in shop.enabled_currencies -%}
      <a class="dropdown-item{% if currency == cart.currency %} active {% endif %}" href="#" data-currency="{{currency.iso_code}}">
        <span class="img-icon {{currency.iso}}">
          {% if currency.iso_code == 'XAF' or currency.iso_code == 'XOF' or currency.iso_code == 'XPF' %}
          <img src="https://cdn.shopifycloud.com/web/assets/4714259873a1c6de6957c5a3c61bf7b4.svg" alt="{{currency.iso_code}}" />
          {% else %}
          <img src="https://www.countryflags.io/{{currency.iso_code | handleize | slice: 0, 2}}/flat/64.png" alt="{{currency.iso_code}}" />
          {% endif %}
          
        </span>
        <span class="text">
          {{currency.iso_code}}
        </span>       
      </a>      
      {%- endfor -%}
    </div>
  </div>       
</div>
{% form 'currency' %}
  <select name="currency" style="display:none;">
    {%- for currency in shop.enabled_currencies -%}
      {%- if currency == cart.currency -%}
        <option selected="true">{{currency.iso_code}}</option>
      {%- else -%}
        <option>{{currency.iso_code}}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>
{% endform %}

{% else %}
	{% if settings.enable_multiple_currencies %}
<div class="currency-block">
  <label class="label-text"{% if settings.enable_multilang %} data-translate="general.currency.currency"{% endif %}>
    {{ 'general.currency.currency' | t }}
  </label>

  <div class="btn-group currency-dropdown">
    <label class="dropdown-toggle dropdown-label" data-currency-label>
      <span class="img-icon">
        <img data-srcset="{{"i-currency-1.png" | asset_img_url: '23x'}}" alt="{{ settings.currency_1_unit }}" {% render 'lazyload' %} />
      </span>
      <span class="text">
        {{ settings.currency_1_unit }}
      </span>      
    </label>

    <div class="dropdown-menu currency-menu" id="currencies">
      {% for i in (1..10) %}
      {% capture currency_unit %}currency_{{ i }}_unit{% endcapture %}
      {% capture i-currency_unit %}i-currency-{{ i }}.png{% endcapture %}
      {% assign currency_length = settings[currency_unit] | size %}

      {% if currency_length > 0 %}
      <a class="dropdown-item{% if shop.currency == settings[currency_unit] %} active {% endif %}" href="#" data-currency="{{ settings[currency_unit] }}">
        <span class="img-icon">
          <img data-srcset="{{i-currency_unit | asset_img_url: '23x'}}" alt="{{ settings.settings[currency_unit] }}" {% render 'lazyload' %} />
        </span>
        <span class="text">
          {{ settings[currency_unit] }}
        </span>       
      </a>
      {% endif %}  
      {% endfor %}
    </div>
  </div>       
</div>
	{% endif %}
{% endif %}
{% endcomment %}