<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>
  {% include 'shop-sheriff-amp' %}
	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Title and description -->
  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape | split: '[/countdown]' | last | strip_html }}">
  {% endif %}
  <!-- Product meta -->
  {% render 'fb-open-graph-tags' %}
  {% render 'twitter-card' %}
  <!-- Helpers -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=0, minimal-ui">
  <!-- Favicon -->
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
 
  <!-- Google Tag Manager Version 14 -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KL8CFJG');</script>
  <!-- End Google Tag Manager -->
  
  <!-- fonts -->
  {% render 'head_fonts' %}
  
  <!-- Styles -->
  {% render 'head_styles' %}
  
   <!-- Scripts -->
  {% render 'head_scripts' %}

  <!-- Header hook for plugins ================================ -->
  {{ content_for_header }}
  {% comment %} <!-- Deprecated for IE --> {% endcomment %}
  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->
  
              {% comment %}
                If you store has customers disabled, you can remove the following JS file

                  {% if template contains 'customers' %}
                    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
                    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
                  {% endif %}

              {% endcomment %}
  

  {% render 'linked-options' %}
              {% comment %} <!-- Comment out Pagefly  -->
              {% render 'pagefly-header' %}
              {% endcomment %}
              {% comment %}
  			  {% render 'plugins' %}
  		      {% endcomment %}
              
  {% comment %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RWF2F2JPSZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RWF2F2JPSZ');
  </script>
  {% endcomment %}

</head> 

    {% if settings.layout_body == 'full' %}    
        {%- assign layout_class = 'body-full' -%}   
    {% elsif settings.layout_body == 'boxed' %} 
        {%- assign layout_class = 'body-boxed' -%} 
    {% endif %}

    {% if settings.header_layout == 'vertical' %}
        {%- assign header_class = 'header-vertical-tpl' -%} 
    {% endif %}

<body data-url-lang="{{ routes.cart_url }}" id="{{ page_title | handle }}" class="{{ header_class }} {{ layout_class }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  	
    <!-- Google Tag Manager (noscript) Version 14 -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KL8CFJG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
  	{% if template contains 'index' %}  
    <h1 style="display: none">{{ page_title | split: '|' | first }}</h1>
    {% endif %}
    {% render 'wrapper-header' %}   

    {% if settings.header_layout == 'vertical' %}
    <div class="flex-nav-vertical">
    {% endif %}    

    {% if settings.header_layout == 'vertical' %}
    {% section 'navigation-vertical-menu' %}
    {% endif %}
	{% render 'scheme' %}
    <div class="wrapper-container wrapper-body">	
        <main class="main-content" role="main">      
            {{ content_for_layout }}
        </main>    
            
        {% if settings.footer_layout == 'default' %}        
        {% section 'footer' %}
        {% elsif settings.footer_layout == 'parallax' %}
        {% section 'footer-parallax' %}
        {% elsif settings.footer_layout == '02' %}
        {% section 'footer-2' %}
        {% elsif settings.footer_layout == '03' %}
        {% section 'footer-3' %}
        {% elsif settings.footer_layout == '04' %}
        {% section 'footer-4' %}
        {% elsif settings.footer_layout == '05' %}
        {% section 'footer-5' %}
        {% endif %}

        {% unless template contains 'product' %}
        <div class="footbar-fixed">
            {% section 'someone-purchased' %}
            {% section 'GDPR-modal' %}
        </div>
        {% endunless %}
      {% if settings.enable_backtotop %}
        <div id="back-top" style="display: none;">
            <a class="nav_up" href="#top" title="Back to top">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </a>
        </div>  
      {% endif %}
    </div>

    {% if settings.header_layout == 'vertical' %}
    </div>
    {% endif %}  
    
    {% render 'footer_scripts' %}
    
    {% render 'sweettooth-widgets' %}

    {% render 'search-autocomplete' %}
    
    {% if settings.header_layout == 'default' %}
    {% render 'customer_links' %}

    {% else %}
    <div class="translate-header" data-translate-header>
        {% render 'customer_links' %}
        {% render 'wrapper-top-cart' %}
    </div>
    {% endif %}

    {% render 'size-chart' %}
  
  	{% render 'size-chart-quickview' %}
        
    {% render 'message-modal' %}
    
    {% render 'newsletter' %}      
    
    {% if template contains 'product' %}
    {% render 'ask_an_expert' %}  
    {% endif %}
               {% comment %}
                {% render 'recently-viewed-products'%}
               {% endcomment %}
    <div class="wrapper-overlay"></div> 

{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
{% comment %}
  <!-- Start of HubSpot code snippet -->
  <button type="button" id="hs_show_banner_button"
    style="background-color: #102d7b; border: 1px solid #102d7b;
           border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
           font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
           text-align: left; text-shadow: none;"
    onClick="(function(){
      var _hsp = window._hsp = window._hsp || [];
      _hsp.push(['showBanner']);
    })()"
  >
    Cookie Settings
  </button>

<!-- End of HubSpot code snippet -->
{% endcomment %}
</html>
<style>
  div#hs-eu-cookie-confirmation { background: none;border-top:none;}

  /* Edit this section to change the main container of the banner */
  div#hs-eu-cookie-confirmation.can-use-gradients { code in here }

  div#hs-eu-close-button-container { margin-top: 0;}

  div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom { box-shadow: none;}

  /* Edit this section to change the inner wrapper of the banner i.e. add more padding */
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner { background: rgb(40 46 50 / 94%); }

  /* Edit this section to change the style of the text */
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {width: 85%; margin: 0 auto; color: #fff; }

  /* Edit this section to change the style of the CONFIRM button */
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button { background-color: #7b4bee!important;
    border: 1px solid #7b4bee!important;
    color: #fff; }

   /* Edit this section to change the style of the DECLINE button */
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button { border: 1px solid #fff!important;
    color: #fff; }

  /* Edit this section to change the style of the CONFIRM button when hovering  */
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button:hover { code in here }

  /* Edit this section to change the style of the DECLINE button when hovering */ 
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button:hover { code in here }

  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-cookie-settings-button { color: #ffffff!important; }

  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button, div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button { border-radius:50px !important;}

  div#hs-eu-close-button-container a#hs-eu-close-button[role=button] { color: #fff!important;}

  @media (max-width: 800px) {
    #hs-eu-close-button-container a#hs-eu-close-button[role=button] { line-height: inherit !important; font-size: 2rem!important;
      color: #fff!important;}
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-cookie-settings-button { margin: 0 6px 0!important;}

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area { margin-right:0!important;}

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area { margin-left: 1rem!important; margin-right: auto!important;}

    #hubspot-messages-iframe-container.widget-align-right {right: auto!important;}

  }
  @media (min-width: 801px) {
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner { display:flex;}
  }
</style>