{% if section.settings.show_instagram %}

<section class="home-instagram {% if section.settings.slide_rows == '2' %}home-instagram-col-2{% endif %}" id="new-instagram-{{section.id}}">
    <div class="container">
        {% if section.settings.instagram_title != blank %}
        <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}">   
            <h3 class="box-title">
                <span class="title"> 
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                {% render 'multilang' with section.settings.instagram_title %}
                </span>
            </h3>
            {% if section.settings.instagram_des != blank %}
            <p>
                {% render 'multilang' with section.settings.instagram_des %}
            </p>        
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="{% if section.settings.layout == 'default' %}container{% else %}container-fluid{% endif %}">
      	{% if section.settings.type_instagram == 'app' %}
        <div class="caption-instagram">
          {{ section.settings.embed_code }}
        </div>
      	{% else %}
      
        <div id="instafeed" class="row" data-instagram-feed data-limit="{{ section.settings.limit }}" data-rows="{{ section.settings.images_per_row }}">
          {% for block in section.blocks %}
          {% if block.settings.enable and block.settings.image != blank %}
          <div class="item col-12">
            <a class="animate-hvr" {% if section.settings.type_instagram_by_gallery == 'link' %}href="{{ block.settings.link }}"{% else %}class="fancybox" rel="gallery1" href="{{ block.settings.image | img_url: 'master' }}" data-fancybox="images"{% endif %}>
            <img {% render 'lazyload' %} data-srcset="{{ block.settings.image | img_url: '640x' }}" />
          </a>
          </div>
          {% endif %}
          {% endfor %}
      	</div>  
      {% endif %}
        
        {% if section.settings.display_instagram_button and section.settings.instagram_button_text != blank %}
        <a href="{{ section.settings.instagram_button_link }}" title="{{ section.settings.instagram_button_text | split: '|' | first }}" class="btn">
            {% render 'multilang' with section.settings.instagram_button_text %}
        </a>
        {% endif %}
    </div>
</section>

<style>
    {% assign instagram_bg =  section.settings.instagram_bg %}

    {% unless section.settings.display_arrow %}
    #new-instagram-{{section.id}} .item {
        padding: 0 2.5px;
    }
    {% endunless %}

    {% if section.settings.display_border_top %}   
    #new-instagram-{{section.id}} {
        border-top: 1px solid #ebebeb;
    }
    {% endif %}

    {% unless section.settings.display_instagram_button and section.settings.instagram_button_text != blank %}
    #new-instagram-{{section.id}} {
        padding-bottom: 5px;
    }
    {% endunless %}
    
    #new-instagram-{{section.id}},
    #new-instagram-{{section.id}} .widget-title .box-title .title {
        background-color: {{ instagram_bg }};
    }   

    {% if section.settings.title_style == 'style_1' %}
    #new-instagram-{{section.id}} {
        padding-top: 0;
    }
    {% endif %}
    {% if section.settings.slide_rows == '2' %}
    #instafeed .item{
        padding-bottom: 5px;
    }
    {%endif%}
  	{% if section.settings.slide_rows == '2' %}
    @media (min-width: 1200px) {
      .home-instagram-col-2 .item {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
  	{% endif%}
</style>

<script>
    $(document).ready(function() {
        var instagramBlock = $('[data-instagram-feed]');

        instagramBlock.each(function() {
            var self = $(this),
                dataRows = self.data('rows'),
                dataLimit = self.data('limit');
                
            {% if section.settings.slide_rows == '2' %}
            var x =  self.children();

            for (i = 0; i < x.length ; i += 2) {
              x.slice(i,i+2).wrapAll('<div class="'+ i +'"></div>');
            }
            {% endif %}

            self.slick({
              infinite: true,
              speed: 1000,                       
              {% if section.settings.slide_ins == 'centermode' %}
              centerMode: true,
              centerPadding: '11.36%',
              {% endif %}
              {% if section.settings.display_arrow %}
              nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
              prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-angle-left"></i></button>',
              {% else %}
              arrows: false,
              autoplay: true,
              {% endif %}
              slidesToShow: dataRows,
              slidesToScroll: dataRows,
              responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    {% if section.settings.slide_rows == '2' %}
                    slidesPerRow: 1,   
                    slidesToShow: 4,
                    rows: 2,
                    {% else %}
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    {% endif %}
                  }
                },
                {
                  breakpoint: 992,
                  settings: {
                    {% if section.settings.slide_rows == '2' %}
                    slidesPerRow: 1,   
                    slidesToShow: 3,
                    rows: 2,
                    {% else %}
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    {% endif %}            
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    {% if section.settings.slide_rows == '2' %}
                    slidesPerRow: 1,   
                    slidesToShow: 2,
                    rows: 2,                                  
                    {% else %}
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    {% endif %}      
                  }
                }                                          
              ]
            });
        });
    });
</script>

{% endif %}

{% schema %}
  {
    "name": "Instagram",
    "class": "home-instagram-sections",
    "settings": [   
        {
            "type": "checkbox",
            "id": "show_instagram",
            "label": "Enable",
            "default": true
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout:",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "full",
                    "label": "Full Width"
                }
            ],
            "default": "default"
        },
        {
            "type": "checkbox",
            "id": "display_border_top",
            "label": "Display Border?",
            "default": false
        },
        {
            "type" : "color",
            "id" : "instagram_bg",
            "label" : "Background Color",
            "default" : "#fafafa"
        },
        {
            "type": "textarea",
            "id": "instagram_title",
            "label": "Title",
            "default": "#Ella On Instagram"
        },
        {
            "type": "textarea",
            "id": "instagram_des",
            "label": "Instagram Description",
            "default": "Phasellus lorem malesuada ligula pulvinar commodo maecenas"
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Title Style:",

            "options": [
                {
                    "value": "style_1",
                    "label": "Style 1" 
                },
                { 
                    "value": "style_2",
                    "label": "Style 2" 
                }          
            ],
            "default": "style_1"
        },
        {
            "type": "checkbox",
            "id": "display_instagram_button",
            "label": "Display Button Instagram?",
            "default": true
        },
        {
            "type": "text",
            "id": "instagram_button_text",
            "label": "Button Instagram Text",
            "default": "View Gallery"
        },
        {
            "type": "text",
            "id": "instagram_button_link",
            "label": "Button Instagram Link"
        },
        {
            "type" : "radio",
            "id" : "type_instagram",
            "label" : "Show instagram by:",       
            "options": [
                {
                    "value": "app",
                    "label": "Embed Code App"
                },
                {
                    "value": "default",
                    "label": "Block image"
                }
            ],
            "default": "default",
            "info": "================="
        },        		
		{
          "type" : "header",
          "content" : "Settings For embed Code app"
     	},
		{
		  "type" : "textarea",
		  "id" : "embed_code",
		  "label" : "Embed javascript Code"
		},        		
		{
          "type" : "header",
          "content" : "Settings For Image"
     	},
        {
            "type" : "radio",
            "id" : "type_instagram_by_gallery",
            "label" : "Use gallery popup or Use link for image",       
            "options": [
                {
                    "value": "link",
                    "label": "Use link for image"
                },
                {
                    "value": "popup_image",
                    "label": "Use gallery popup"
                }
            ],
            "default": "popup_image",
            "info": "================="
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit the number of images to show",
            "default": "10"
        },
        {
            "type": "select",
            "id": "images_per_row",
            "label": "Images per row",
            "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                },
                {
                    "value": "7",
                    "label": "7"
                },
                {
                    "value": "8",
                    "label": "8"
                },
                {
                    "value": "9",
                    "label": "9"
                },
                {
                    "value": "10",
                    "label": "10"
                }
            ],
            "default": "5"
        },
        {
            "type" : "radio",
            "id" : "slide_ins",
            "label" : "Slider Instagram",       
            "options": [
                {
                    "value": "centermode",
                    "label": "Center Mode"
                },
                {
                    "value": "default_ins",
                    "label": "Default"
                }
            ],
            "default": "default_ins",
            "info": "================="
        },
        {
            "type": "checkbox",
            "id": "display_arrow",
            "label": "Display Arrow?",
            "default": true,
            "info": "================="
        },
        {
            "type": "select",
            "id": "slide_rows",
            "label": "Slide Rows:",
            "options": [
                {
                    "value": "1",
                    "label": "1" 
                },
                { 
                    "value": "2",
                    "label": "2" 
                }          
            ],
            "default": "1"
        }
    ],
    "blocks": [
        {
            "type": "instagram",
            "name": "Instagram",
			"settings": [
				{
                  "type": "checkbox",
                  "id": "enable",
                  "label" : "Enable?",
                  "default" : true
                },
				{
                  "type": "image_picker",
                  "id": "image",
                  "label" : "Image"
                },
				{
                  "type": "url",
                  "id": "link",
                  "label" : "Link"
                }
			]
        }
    ],
    "presets": [
        {
            "name": "Instagram",
            "category": "Instagram"
        }
    ]
  }
{% endschema %}
