{% if section.blocks.size > 0 or section.settings.dpl_blog_custom %}
{% if section.settings.dpl_blog_custom %}
<div class="blog-detail-custom-block" id="custom-block-{{section.id}}">
    <div class="container">
            <div class="col-12 blog-custom-content">
                <div class="row">
                {% for block in section.blocks %}
                    {% if block.type == 'largeImg' %}
                    <div class="col-6 blog-item" id="custom-block-item-{{block.id}}">
                        <div class="content-image">
                            <a class="animate-scale" href="{{ block.settings.link }}">
                                {%- assign img_url = block.settings.image | img_url: 'original', crop: 'center' -%}
                                {% if block.settings.image != blank %}
                                <img data-src="{{ img_url }}"
                                    src="{{ img_url }}" alt="{{ block.settings.image.alt | default: shop.name }}" itemprop="logo"
                                    class="lazyautosizes lazyloaded" data-sizes="auto">
                                {% else %}
                                <div class="not_img">
                                570 x 780px
                                </div>   
                                {% endif %}
                            </a>
                             <div class="banner-content {% if block.settings.alignment == 'left' %}abs_left{% elsif block.settings.alignment == 'right' %}abs_right{% else %}abs_center{% endif %}">
                                {% if block.settings.banner_heading != blank %}
                                <h2 class="banner-heading"
                                    style="{% if block.settings.font_size_banner_heading != blank %}
                                            font-size: {{ block.settings.font_size_banner_heading }} !important;
                                            {% endif %}
                                            {% if block.settings.color_banner_heading != blank %}
                                            color:{{ block.settings.color_banner_heading }};
                                            {% endif %}">
                                    {% render 'multilang' with block.settings.banner_heading  %}
                                </h2>
                                {% endif %}

                                {% if block.settings.banner_des != blank %}
                                <p class="banner-desc"
                                    style="{% if block.settings.font_size_banner_des != blank %}
                                            font-size: {{ block.settings.font_size_banner_des }};
                                            {% endif %}
                                            {% if block.settings.color_banner_des != blank %}
                                            color: {{ block.settings.color_banner_des }};
                                            {% endif %}
                                            {% if block.settings.banner_heading != blank %}
                                            margin-top: 40px;
                                            {% endif %}">
                                    {% render 'multilang' with block.settings.banner_des  %}
                                </p>
                                {% endif %}

                                {% if block.settings.banner_button != blank %}
                                <a href="{{ block.settings.link }}" class="banner-button btn {% if block.settings.button_style == 'style_2' %} button_2 {% endif %}"
                                    style="{% if block.settings.bg_banner_button != blank %}
                                            background-color:{{ block.settings.bg_banner_button }};
                                            {% endif %}
                                            {% if block.settings.border_banner_button != blank %}
                                            border-color:{{ block.settings.border_banner_button }};
                                            {% endif %}
                                            {% if block.settings.color_banner_button != blank %}
                                            color:{{ block.settings.color_banner_button }};
                                            {% endif %}">
                                    {% render 'multilang' with block.settings.banner_button %}
                                </a>
                                {% endif %}

                            </div>
                            <style>
                                #custom-block-item-{{block.id}} .banner-content .banner-button.button_2 span{
                                    background-image: linear-gradient(#fff 97%, {{ block.settings.color_banner_button }} 3%);
                                }
                                .blog-detail-custom-block .container #custom-block-item-{{block.id}} .banner-content .banner-button.button_2:hover{
                                    color: {{ block.settings.color_banner_button }} !important;
                                }
                                .blog-detail-custom-block #custom-block-item-{{block.id}} .banner-content h2 span{
                                    background-image: linear-gradient(#fff 97%, {{ block.settings.color_banner_heading }} 3%);
                                }
                            </style>
                        </div>
                    </div>  
                    {% endif %}

                {% endfor %}
                </div>
            </div>   
    </div>
</div>
<style>
    {% assign image_url1 = section.settings.image1 | img_url: '2000x' %}
    {% assign margin_bottom =  section.settings.margin_bottom %}  

    @media (max-width: 1024px){
        .blog-detail-custom-block .container .blog-item:last-child .banner-content .banner-desc{
            font-size: 30px !important;
        }
    }

    @media (max-width: 768px){
        .blog-detail-custom-block .container .blog-item:last-child .banner-content .banner-desc{
            font-size: 24px !important;
            line-height: 38px;
        }
        .blog-detail-custom-block .container .blog-item:last-child .content-image{
            margin-top: 0;
        }
    }

    @media (max-width: 767px) {
        #custom-block-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }

    @media (max-width: 480px){
        .blog-detail-custom-block .container .blog-item:last-child .banner-content .banner-desc {
            font-size: 16px !important;
            line-height: 28px;
            margin-top: 20px !important;
        }
        .blog-detail-custom-block .container .blog-item:last-child .banner-content {
            margin-bottom: 76px;
        }
        .blog-detail-custom-block .container .blog-item .banner-content .banner-button{
            min-width: 100%;
        }
    }
    @media (max-width: 320px){
        .blog-detail-custom-block .container .blog-item:last-child .banner-content .banner-desc {
            font-size: 14px !important;
        }
        .blog-detail-custom-block .container .blog-item .banner-content .banner-button.button_2 span {
            background-position-y: -2px;
        }
        .blog-detail-custom-block .container .blog-item .banner-content .banner-button.button_2{
            overflow: hidden;
            margin-top: 25px;
        }
    }


    @media (min-width: 768px) and (max-width: 1199px) {
        #custom-block-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_tab }}px;
        }
    }
  
    @media (min-width: 1200px) {
        #custom-block-{{ section.id }} {
            margin-bottom: {{ margin_bottom }}px;
        }
        {% if section.settings.image1 != blank %}
        #custom-block-{{ section.id }} {
            margin-bottom: {{ margin_bottom }}px;
            background-image:url({{image_url1}});
            background-repeat: no-repeat;
        }
        {% endif %}
    }
</style>
{% endif %}
{% endif %}

{% schema %}
  {
    "name": "Custom Block Middle",
	"class": "blog-detail-custom-baner-sections",
    "max_blocks": 2,
    "settings": [
        {
            "type": "header",
            "content": "Custom Block Middle Banner"
        },
        {
            "type" : "checkbox",
            "id" : "dpl_blog_custom",
            "label" : "Enable",
            "default" : true
        },
        {
            "type": "image_picker",
            "id": "image1",
            "label" : "Select Background Image"
        },
        {
            "type": "header",
            "content": "Margin Bottom:"
        },
        {
            "type": "range",
            "id": "margin_bottom_mb",
            "label": "Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 25
        },
        {
            "type": "range",
            "id": "margin_bottom_tab",
            "label": "Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 30
        },             
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 30
        }
    ],
    "blocks": [
        {
            "type": "largeImg",
            "name": "Block Image",
            "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label" : "Select Image"
            },
            {
                "type": "header",
                "content": "Banner Content"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Text alignment",
                "default": "left",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ]
            },
            {
                "type" : "text",
                "id" : "banner_heading",
                "label" : "Banner Heading",
                "default" : "Metropolis"
            },
            {
                "type" : "text",
                "id" : "font_size_banner_heading",
                "label" : "Heading Font Size ",
                "default" : "24px"
            },
            {
                "type" : "color",
                "id" : "color_banner_heading",
                "label" : "Heading Color",
                "default" : "#0f0f0f"
            },
            {
                "type" : "textarea",
                "id" : "banner_des",
                "label" : "Banner Description",
                "default": "Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an tincidunt risus an consequat delit quisquemos."
            },
            {
                "type" : "text",
                "id" : "font_size_banner_des",
                "label" : "Description Font Size",
                "default" : "12px"
            },
            {
                "type" : "color",
                "id" : "color_banner_des",
                "label" : "Description Color",
                "default" : "#5f5f5f"
            },
            {
                "type" : "text",
                "id" : "banner_button",
                "label" : "Button Banner",
                "default" : "Shop Now"
            },
            {
                "type" : "url",
                "id" : "link",
                "label" : "Banner Link"
            },
            {
                "type" : "color",
                "id" : "bg_banner_button",
                "label" : "Background Button",
                "default" : "#e95144"
            },
            {
                "type" : "color",
                "id" : "border_banner_button",
                "label" : "Border Button",
                "default" : "#e95144"
            },
            {
                "type" : "color",
                "id" : "color_banner_button",
                "label" : "Button Color",
                "default" : "#fff"
            },
            {
                "type": "select",
                "id": "button_style",
                "label": "Button Style:",
                "options": [
                    {
                        "value": "style_1",
                        "label": "Style 1" 
                    },
                    { 
                        "value": "style_2",
                        "label": "Style 2" 
                    }          
                ],
                "default": "style_1"
            }
        ]
    }
    ],
    "presets": [
        {
            "name": "Custom Block Middle Banners",
            "category": "Banner",
            "blocks": [
                {
                    "type": "largeImg"
                },
                {
                    "type": "largeImg"
                }      
            ]
        }
    ]
  }
{% endschema %}